// src/styles/_base.scss

@use 'variables' as var;
@use 'mixins' as mix;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var.$font-family-main;
  font-size: var.$font-size-base;
  color: var.$text-color;
  line-height: 1.5;
  @include mix.theme-transition(background-color, color);
}

a {
  color: var.$primary-color;
  text-decoration: none;
}